In [ ]:
import pandas_datareader as pdr
import pandas as pd

In [ ]:
df =pd.read_csv('AAPL.csv')

In [ ]:
df.head()

   Unnamed: 0 symbol  ... divCash  splitFactor
0           0   AAPL  ...     0.0          1.0
1           1   AAPL  ...     0.0          1.0
2           2   AAPL  ...     0.0          1.0
3           3   AAPL  ...     0.0          1.0
4           4   AAPL  ...     0.0          1.0

[5 rows x 15 columns]

In [ ]:
df.tail()

      Unnamed: 0 symbol  ... divCash  splitFactor
1253        1253   AAPL  ...     0.0          1.0
1254        1254   AAPL  ...     0.0          1.0
1255        1255   AAPL  ...     0.0          1.0
1256        1256   AAPL  ...     0.0          1.0
1257        1257   AAPL  ...     0.0          1.0

[5 rows x 15 columns]